<p>User name: {{user_name.email}}</p>
<br>
<p>Pushing to array on user object</p>
<input ng-model="todo" placeholder="New TODO"></input>
<button type="button" ng-click="addTodo(todo)">Add TODO</button>
<br>
<p>Todo item: {{user_name.todo}}</p>
<br>
<p>Creating new TODO with CRUD</p>
<input ng-model="newTODO" placeholder="New TODO"></input>
<button type="button" ng-click="addTODO(newTODO)">Add TODO</button>
<br>
<p>Todo item: {{todos}}</p>
<br>
<br>
<button type="button" ng-click="logout()">logout</button>
